h1,
h2,
h3,
h4,
li,
p {
  /* font-family: sans-serif; */
}

h1 {
  font-size: 20px;
  font-style: italic;
  text-transform: capitalize;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;

  text-transform: capitalize;
  color: #1098ad;
}

p {
  font-size: 18px;
  line-height: 1.5;

  /* font-style: italic; */
}

li {
  font-size: 15px;
  font-weight: 300;
  font-family: sans-serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

nav {
  /* color: #1098ad; */
  width: 50%;
}
/*
header p {
  background-color: gold;
}
*/

/* article header p {
  background-color: darkblue;
} */

/* #author {
  background-color: #0ade54;
} */

.main-header {
  background-color: #f7f7f7;
  color: #1098ad;
}

footer p {
  font-size: 15px;
}

/* .first-list {
  text-transform: lowercase;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(even) {
  background-color: gold;
} */

aside {
  background-color: #f7f7f7;
  /* border: 5px solid #1098ad; */
  width: 70%;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* pseudo class */

/* a {
  color: red;
} */

a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: orange;
}

a:hover {
  color: blue;
  text-decoration: underline;
  font-weight: bolder;
  cursor: pointer;
}

a:active {
  color: black;
  text-decoration: underline;
}

strong {
  color: red;
}

.text {
  color: black;
}

.author {
  color: gold;
  color: #1098ad;
}

/* #author {
  color: blue;
} */

/*
 1. !important
2. Inline styles
3. Id selectors
4. classes or pseudo class
5.elements selector
6. inheritance 
7. universal selector  *
 */
